<div class="form-group select">
  <div class="styled-select">
    <select class="required" name="select_5">
      <option value="" selected>Select</option>
      <option value="YES">YES</option>
      <option value="NO">NO</option>
      <option value="DON'T KNOW">DON'T KNOW</option>
      <option value="DECLINE TO ANSWER">DECLINE TO ANSWER</option>
    </select>
  </div>
</div>

<div class="form-group select">
  <div class="styled-select">
    <select class="required" name="select_66">
      <option value="" selected>Select</option>
      <option value="YES">YES, FIRST NATIONS</option>
      <option value="INUIT">YES, INUIT</option>
      <option value="MÉTIS">YES, MÉTIS</option>
      <option value="INDIGENOUS">YES, INDIGENOUS ANCESTRY</option>
      <option value="NO">NO</option>
      <option value="DON'T KNOW">DON'T KNOW</option>
      <option value="DECLINE TO ANSWER">DECLINE TO ANSWER</option>
    </select>
  </div>
</div>
<div class="form-group select">
  <div class="styled-select">
    <select class="required" name="select_66">
      <option value="" selected>Select</option>
      <option value="YES">YES, IMMIGRANT</option>
      <option value="INUIT">YES, REFUGEE</option>
      <option value="MÉTIS">YES, REFUGEE CLAIMANT</option>
      <option value="INDIGENOUS">NO</option>
      <option value="NO">NO</option>
      <option value="DON'T KNOW">DON'T KNOW</option>
      <option value="DECLINE TO ANSWER">DECLINE TO ANSWER</option>
    </select>
  </div>
</div>

