<div class="form-group radio_questions">
  <label
    >STRAIGHT/HETEROSEXUAL
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >GAY
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >LESBIAN
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >BISEXUAL
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >TWO-SPIRIT
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >PANSEXUAL
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >ASEXUAL
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
  <input
    type="text"
    name="other_gender"
    class="form-control inline-input"
    placeholder="Please specify"
  />
</div>
<div class="form-group radio_questions">
  <label
    >QUESTIONING
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >QUEER
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >NOT LISTED:
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
    <input
      type="text"
      name="other_sexual_orientation"
      class="form-control inline-input"
      placeholder="Please specify"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >DON'T KNOW
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >DECLINE TO ANSWER
    <input
      name="question_13"
      type="radio"
      value="My budget is between $1000 and $1500"
      class="icheck required"
    />
  </label>
</div>


