<div class="form-group checkbox_questions">
  <label>
    <input
      name="question_2[]"
      type="checkbox"
      value="Web site design"
      class="icheck required"
    />TURNED AWAY (SHELTERS ARE FULL)
  </label>
</div>

<div class="form-group checkbox_questions">
  <label>
    <input
      name="question_2[]"
      type="checkbox"
      value="Web site design"
      class="icheck required"
    />TURNED AWAY (BANNED)
  </label>
</div>

<div class="form-group checkbox_questions">
  <label>
    <input
      name="question_2[]"
      type="checkbox"
      value="Web site design"
      class="icheck required"
    />LACK OF TRANSPORTATION
  </label>
</div>

<div class="form-group checkbox_questions">
  <label>
    <input
      name="question_2[]"
      type="checkbox"
      value="Web site design"
      class="icheck required"
    />FEAR FOR SAFETY
  </label>
</div>

<div class="form-group checkbox_questions">
  <label>
    <input
      name="question_2[]"
      type="checkbox"
      value="Web site design"
      class="icheck required"
    />BED BUGS & OTHER PESTS
  </label>
</div>

<div class="form-group checkbox_questions">
  <label>
    <input
      name="question_2[]"
      type="checkbox"
      value="Web site design"
      class="icheck required"
    />CROWDED
  </label>
</div>

<div class="form-group checkbox_questions">
  <label>
    <input
      name="question_2[]"
      type="checkbox"
      value="Web site design"
      class="icheck required"
    />OTHER:
    <input
      type="text"
      name="other_reason"
      class="form-control other-reason-input"
      placeholder="Please specify"
    />
  </label>
</div>

<div class="form-group checkbox_questions">
  <label>
    <input
      name="question_2[]"
      type="checkbox"
      value="Web site design"
      class="icheck required"
    />DON'T KNOW
  </label>
</div>

<div class="form-group checkbox_questions">
  <label>
    <input
      name="question_2[]"
      type="checkbox"
      value="Web site design"
      class="icheck required"
    />DECLINE TO ANSWER
  </label>
</div>
