<div class="form-group radio_questions">
  <label
    >YES, IMMIGRANT
    <input
      name="question_1"
      type="radio"
      value="My budget is under $500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >YES, REFUGEE
    <input
      name="question_1"
      type="radio"
      value="My budget is under $500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >YES, REFUGEE CLAIMANT
    <input
      name="question_1"
      type="radio"
      value="My budget is under $500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >NO
    <input
      name="question_1"
      type="radio"
      value="My budget is under $500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >DON'T KNOW
    <input
      name="question_1"
      type="radio"
      value="My budget is under $500"
      class="icheck required"
    />
  </label>
</div>
<div class="form-group radio_questions">
  <label
    >DECLINE TO ANSWER
    <input
      name="question_1"
      type="radio"
      value="My budget is under $500"
      class="icheck required"
    />
  </label>
</div>
